<div class="container">
  <div class="row">
    <h3 class="p-3">会員情報編集</h3>
       <div class="form_group" style="display: flex">
       <div class="col-md-2">氏名</div>
       <div class="col-md-2"><%=f.text_field :first_name %></div>
       <div class="col-md-2"><%=f.text_field :last_name %></div>
       </div>
    <h3 class="p-3">会員情報編集</h3>
       <div class="form_group" style="display: flex">
       <div class="col-md-2">フリガナ</div>
       <div class="col-md-2"><%=f.text_field :first_name_kana %></div>
       <div class="col-md-2"><%=f.text_field :last_name_kana %></div>
       </div>
    <h3 class="p-3">会員情報編集</h3>
       <div class="form_group" style="display: flex">
       <div class="col-md-2">郵便番号</div>
       <div class="col-md-2"><%=f.text_field :postcode %></div>
       </div>