<div class="container">
  <div class="row">
    <h3 class="p-3">会員情報編集</h3>
     <%= form_with model: @customer, url: customers_path, method: :patch do |f| %>
       <div class="form_group" style="display: flex">
       <div class="col-md-2">氏名</div>
       <div class="col-md-2"><%=f.text_field :first_name %></div>
       <div class="col-md-2"><%=f.text_field :last_name %></div>
       </div>
       <div class="form_group" style="display: flex">
       <div class="col-md-2">フリガナ</div>
       <div class="col-md-2"><%=f.text_field :first_name_kana %></div>
       <div class="col-md-2"><%=f.text_field :last_name_kana %></div>
       </div>
       <div class="form_group" style="display: flex">
       <div class="col-md-2">郵便番号</div>
       <div class="col-md-2"><%=f.text_field :postcode %></div>
       </div>
       <div class="form_group" style="display: flex">
       <div class="col-md-2">住所</div>
       <div class="col-md-2"><%=f.text_field :address %></div>
       </div>
       <div class="form_group" style="display: flex">
       <div class="col-md-2">電話番号</div>
       <div class="col-md-2"><%=f.text_field :tel %></div>
       </div>
       <div class="form_group" style="display: flex">
       <div class="col-md-2">メールアドレス</div>
       <div class="col-md-2"><%=f.text_field :email %></div>
       </div>

  	   <div class="form-group" style="display: flex">
     <%= f.submit"編集内容を保存",class: "btn btn-success" %>
       </div>
       <div class="form-group" style="display: flex">
     <%= link_to"退会する",customers_unsubscribe_path, class: "btn btn-danger" %>
       </div>
       <% end %>
       </div>
         </div>