<main>
<div class="toumei">
<div class="container">
  <div class="row">
  <h2 class="p-6"><span class="header">マイページ</span></h2>
 	</div>
  <div class="form-group row">
    <div class="col-2">
      <h3><strong>登録情報</strong></h3>
    </div>
   <%= link_to"編集する", edit_customers_path,class: "button" %>
     </div>

 <div class="row mb-5">
    <div class="col-7">
      <table class="customer_table">
     	 <tbody>
          <tr>
					  <td class="common">氏名</td>
						<td><%= @customer.first_name %> <%=@customer.last_name %></td>
          </tr>

					<tr>
						<td class="common">カナ</td>
   					<td><%= @customer.first_name_kana %> <%=@customer.last_name_kana %></td>
					</tr>
					<tr>
						<td class="common">郵便番号</td>
						<td><%= @customer.postcode %></td>
					</tr>
					<tr>
						<td class="common">住所</td>
						<td><%= @customer.address %></td>
					</tr>
					<tr>
						<td class="common">電場番号</td>
						<td><%= @customer.tel %></td>
					</tr>
					<tr>
						<td class="common">メールアドレス</td>
						<td><%= @customer.email %></td>
					</tr>
			 </tbody>
		</table>
			</div>
				</div>
  <div class="form-group row">
  	 <div class="col-2">
   <h3><strong>配送先</strong></h3>
   		 	</div>
   <%= link_to"一覧を見る", shippings_path,class: "button" %>
     		</div>

    <div class="form-group row">
    <div class="col-2">
   <h3><strong>注文履歴</strong></h3>
   		</div>
   <%= link_to"一覧を見る", orders_path,class: "button" %>
     		</div>
					</div>
						</div>
</main>