<div class='container mt-5'>
  <div class='row ml-5 mb-4'>
    <h4 class="log_in_box">配送先登録/一覧</h4>
  </div>
<%= form_with model: @shipping, url: shippings_path do |f| %>
    <div class="row mb-2">
      <label class="col-sm-4 col-form-label">郵便番号(ハイフンなし)</label>
      <div class="col-sm-8">
      <%= f.text_field :postcode, autofocus: true, autocomplete: "email",class:"form-control"%>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-4 col-form-label">住所</label>
      <div class="col-sm-8">
      <%= f.text_field :address, autocomplete: "current-password",class:"form-control" %>
      </div>
    </div>

    <div class="row mb-5">
      <label class="col-sm-4 col-form-label">宛名</label>
      <div class="col-sm-8">
      <%= f.text_field :name, autocomplete: "current-password",class:"form-control" %>
       <%= f.submit "新規登録", class:"btn btn-success"%>
      </div>
    </div>
  <% end %>
  <% @shippings.each do |shipping| %>
  <table class="table">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
    <tr>
      <td><%=shipping.postcode %></td>
      <td><%=shipping.address %></td>
      <td><%=shipping.name %></td>
      <td><span><%=link_to edit_shipping_path</span></td>
    </tr>
  </table>
  <% end %>

  </div>

