<main>
  <div class="toumei">
    <div class="container">
      <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 ">
          <div class="genre-sarch">
            <table class="customers">
              <thead class="thead text-center">
                <tr>
                  <th class="text-center">ジャンル検索</th>
                  <% @genres.each do |genre|  %>
                    <th><%=genre.name %></th>
                  <% end %>
                </tr>
              </thead>
            </table>
          </div>
          </div>
          <div class="row">
           <%=image_tag @product.get_image ,class:"img-fluid mt-5"%>
           <div class="m-5">
             <table class="table">
               <tr><h3><strong><%= @product.name %></strong></h3></tr>
               <tr><h4><%= @product.about %></h4></tr>
               <tr><h4>¥<%= @product.in_tax_price.to_s(:delimited) %>(税込)</h4></tr>
               <tr>
                 <%=form_with model:@cart_item,local:true do |f| %>
                 <%= f.hidden_field :product_id, :value => @product.id %>
                 <th><%= f.select :quantity,*[1..10]  , { include_blank: '個数選択'}, { class: 'form-select pr-4 py-2'  , required: true } %></th>
                 <th> <%=f.submit 'カートに入れる',class:"button"%></th>
                 <% end %>
               </tr>
             </table>
           </div>
        </div>
     </div>
   </div>
  </div>
</main>