<main>
  <div class="toumei">
  <table class="customers">
    <thead class="thead text-center">
      <tr>
        <th><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</th>
      </tr>
    </thead>
  </table>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
  <table class="customer-edit">
    <tbody>
    <tr>
      <th><%= f.label "会員ID" %></th>
      <th><%= @customer.id %></th>
    </tr>
    <tr>
      <th><%= f.label "氏名" %></th>
      <th><%= f.text_field :first_name %></th>
      <th><%= f.text_field :last_name %></th>
    </tr>
    <tr>
      <th><%= f.label "フリガナ" %></th>
      <th><%= f.text_field :first_name_kana %></th>
      <th><%= f.text_field :last_name_kana %></th>
    </tr>
    <tr>
      <th><%= f.label "郵便番号" %></th>
      <th><%= f.text_field :postcode %></th>
    </tr>
    <tr>
      <th><%= f.label "住所" %></th>
      <th><%= f.text_field :address %></th>
    </tr>
    <tr>
      <th><%= f.label "電話番号" %></th>
      <th><%= f.text_field :tel %></th>
    </tr>
    <tr>
      <th><%= f.label "メールアドレス" %></th>
      <th><%= f.text_field :email %></th>
    </tr>
    <tr>
      <th><%= f.label :about, "会員ステータス" %></th>
    	<th>
    	  <%= f.radio_button :is_deleted, true %>退会
        <%= f.radio_button :is_deleted, false %>有効
      </th>
    </tr>
    </tbody>
  </table>
  <table class="customer-edit">
    <thead class="text-center">
      <tr>
        <th><%= f.submit '変更を保存', class: 'button' %></th>
      </tr>
    </thead>
  </table>
  <% end %>
  </div>
</main>

