<main>
  <div class="toumei">
  <table class="customers">
    <thead class="thead text-center">
      <tr>
        <th><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</th>
      </tr>
    </thead>
  </table>  
  <table class="customers">
    <tr>
      <th>会員ID</th>
      <th><%= @customer.id %></th>
    </tr>
    <tr>
      <th>氏名</th>
      <th><%= @customer.first_name %><%= @customer.last_name %></th>
    </tr>
    <tr>
      <th>フリガナ</th>
      <th><%= @customer.first_name_kana %><%= @customer.last_name_kana %></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th><%= @customer.postcode %></th>
    </tr>
    <tr>
      <th>住所</th>
      <th><%= @customer.address %></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th><%= @customer.tel %></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th><%= @customer.email %></th>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <th>
        <% if @customer.is_deleted == true %>
          <p class="text-success font-weight-bold">有効</p>
        <% else %>
          <p class="text-secondary font-weight-bold">退会</p>
        <% end %>
      </th>
    </tr>  
  </table>
  <table class="links">
    <tr>
      <td><%= link_to "編集する", edit_admin_customer_path, class: 'button' %></td>
      <td><%= link_to "注文履歴一覧を見る", admin_top_path, class: 'button' %></td>
    </tr>
  </table>
</div>  
</main>  