<main>
  <div class="toumei">
    <div class="container">
      <div class="row">
        <table class="customers">
            <thead class="thead text-center">
              <tr>
                <th>ショッピングカート</th>
              </tr>
            </thead>
          </table>
      </div>
    </div>
    <div class="row">
    <% @cart_items.each do |cart_item| %>
    <table class="customers mt-5">
      <thead class="thead text-center">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
      <tr>
        <td><%=cart_item.product.name %></td>
        <td><%= cart_item.product.in_tax_price %></td>
        <td>
           <%= form_with model: cart_item,url:cart_item_path(cart_item.id), method: :patch,local: true do |f| %>
                    <%= f.select :quantity, [['1',1], ['2',2], ['3',3],['4',4], ['5',5], ['6',6],['7',7], ['8',8], ['9',9]],include_blank: "#{cart_item.quantity}"%>
                    <%= f.submit "更新",class:"button" %>
                  <% end %>
        </td>

        <% @sum += cart_item.subtotal %>
        <td><%=cart_item.subtotal %>円</td>
        <td><%=link_to "削除する",cart_item_path(cart_item), method: :delete, class:"button" %></td>

      </tr>
      </tbody>
      </table>
    <% end %>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-4 offset-5">
       <div class="p-3 border border-dark bg-light">
         合計金額

      <span class="pl-5 border-left border-dark"><%=@sum %>円</span>
      </div>
      </div>
      <table class="links mt-5 mx-auto">
        <tr>
          <td><%= link_to "情報入力に進む", new_order_path, class: "button" %></td>
          <td><%= link_to "買い物を続ける", root_path, class: "button" %></td>
          <td><%= link_to "カートを空にする",cart_items_destroy_all_path, method: :delete, class:"button" %></td>
        </tr>
      </table>
    </div>


    </div>
  </div>
</main>