<h1>商品一覧</h1>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, admin_product_path(product) %></td>
        <td><%= product.price %></td>
        <td><%= product.genre.name %></td>
        <td>
            <% if product.is_active == true %>
                <p class="text-success font-weight-bold">販売中</p>
            <% else %>
                <p class="text-secondary font-weight-bold">販売停止中</p>
            <% end %>
        </td>
        
      </tr>
    <% end %>
 
    
  </tbody>
</table>
<%= paginate @products %>


 
