<main>
  <div class="toumei">
    <table class="products">
      <thead class="thead text-center">
        <tr>
          <th>商品一覧</th>
        </tr>
      </thead>
    </table>
    
    <table class='products text-center'>
      <thead class="thead">
        <tr>
          <th>ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, admin_product_path(product),  class: "link" %></td>
            <td><%= product.price %></td>
            <td><%= product.genre.name %></td>
            <td>
                <% if product.is_active == true %>
                    <p class="text-success font-weight-bold">販売中</p>
                <% else %>
                    <p class="text-secondary font-weight-bold">販売停止中</p>
                <% end %>
            </td>
            
          </tr>
        <% end %>
     
        
      </tbody>
    </table>
    <table class="links">
    <tr>
      <td><%= link_to "商品追加＋", new_admin_product_path, class: 'button' %></td>
    </tr>
  </table>
    <%= paginate @products %>
  </div>
</main>
 
