<main>
  <div class=
<div class="container" >
<div class="row">
   <div class ="col-lg-8">
<h3>注文情報確認</h3>
<div>
  <table class="design01 ">
    <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    </thead>

    <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.product.name %></td>
      <td><%= cart_item.product.in_tax_price %></td>
      <td><%=cart_item.quantity %></td>
      <td><%=cart_item.subtotal %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
 <div class ="col-lg-2">
<div>
   <table class="design01 ">
    <tr>
      <th>送料</th>
      <td><%= @order.postage %></td>
    </tr>
    <tr>
      <th>商品合計</th>
      <td><%= @total.to_s(:delimited)  %></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><%= @total_price.to_s(:delimited)  %></td>
    </tr>
  </table>
</div>
</div>


<div>
  <table>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method %>
    </tr>
    <tr>
      <th>お届け先</th>
      <td>〒<%= @order.postcode %><%= @order.address %><%= @order.name %></td>
    </tr>
  </table>
<div>
  <%= form_with model: @order, url: orders_path, method: :post do |f| %>
    <%= f.hidden_field :name,value: @order.name %>
    <%= f.hidden_field :postcode,value: @order.postcode %>
    <%= f.hidden_field :postage,value: @order.postage %>
    <%= f.hidden_field :payment_method,value: @order.payment_method %>
    <%= f.hidden_field :address,value: @order.address %>
    <%= f.hidden_field :total_price, value: @total + @order.postage %>
    <%= f.submit "注文確定する", class: 'button' %>
  <% end %>
</div>
</div>
</div>
</div>

</main>