   <div class="container">
  <div class="row">
    <div class="col">
      <h4 class="col-md-2" style="background-color: #eeeeee;">注文履歴一覧</h4>
       <table class="table table-bordered" style="boder-width: thick">
       <tr style="background-color: #eeeeee;">
         <th>注文日</th>
         <th>配送先</th>
         <th>注文商品</th>
         <th>支払金額</th>
         <th>ステータス</th>
         <th>注文詳細</th>
       <% @orders.each do |order| %>
       <tr>
           <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
           <td>
             〒<%= order.postcode %><br><!--配送先郵便番号-->
             <%= order.address %><br><!--配送先住所-->
             <%= order.name %><!--配送先宛名-->
           </td>
           <td>
             <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %><br>
             <% end %>
           </td>
           <td><%= (order.total_payment + order.postage).to_s(:delimited) %></td><!--請求金額-->
           <td><%= order.status_i18n %></td><!--注文ステータス-->
           <td><%= link_to"表示する",order_path(order),class: "btn btn-primary" %></td><!--詳細ページへ-->
       </tr>
         <% end %>
    </table>


       </div>
         </div>
           </div>

