<div class='container mt-5'>
  <div class='row ml-5 mb-4'>
    <h4 class="log_in_box">ログイン</h4>
  </div>
  <div class= 'row mb-5'>
    <p class='col-5 offset-1 log_in_box'>会員の方はこちらからログイン</p>
  </div>
  <form>
  <%= form_with model: @user, url: customer_session_path do |f| %>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label offset-2">メールアドレス</label>
      <div class="col-sm-8">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control"%>
      </div>
    </div>
    
    <div class="row mb-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label offset-2">パスワード</label>
      <div class="col-sm-8">
      <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-2 offset-4">
      <%= f.submit "ログイン", class:"btn btn-primary"%>
      </div>
    </div>
  </form>
  <% end %>
</div>

<%= render "public/shared/links" %>


